<nav>
    <div class="nav-wrapper">
      <a href="/home" class="brand-logo center">Challenge 3</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li routerLink="/home" routerLinkActive="active"><a (click)="setDocTitle( 'Home' )">Home</a></li>
        <li routerLink="/about" routerLinkActive="active"><a (click)="setDocTitle( 'About' )">About</a></li>
        <li routerLink="/contact" routerLinkActive="active"><a (click)="setDocTitle( 'Contact' )">Contact</a></li>
      </ul>
    </div>
</nav>

<ul id="mobile-demo" class="sidenav">
  <li routerLink="/home" routerLinkActive="active"><a (click)="setDocTitle( 'Home' )">Home</a></li>
  <li routerLink="/about" routerLinkActive="active"><a (click)="setDocTitle( 'About' )">About</a></li>
  <li routerLink="/contact" routerLinkActive="active"><a (click)="setDocTitle( 'Contact' )">Contact</a></li>
</ul>


<script>
$(document).ready(function(){
    $('.sidenav').sidenav();
});
</script>


<router-outlet></router-outlet>