<div class="container">
    <div class="row">
        <div class="col s12">Contact Us</div>

        <div class="card medium">
            <div class="card-content">
                <div class="card-title">
                    <span>Our information</span>
                </div>
                <ul>
                    <li><i class="material-icons">phone</i>555-555-5555</li>
                    <li><i class="material-icons">email</i>info@website.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>