/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/* Normalizing css for cross-browser compatibility */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

  @media screen and (min-width: 480px) {
    .button-box {
        position: absolute;
        top: 55%;
        left: 25%;
        text-align: center; 
    }
  }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  /* 1.7 times bigger than default line height */
  color: #777;
  padding: 30px; }

.header {
  height: 95vh;
  /* 95% of viewport height */
  background-image: url("../images/hero2.jpg");
  filter: grayscale(100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  /* keeps top of the image static when image is scaling */
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px; }

.logo {
  height: 35px; }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease; }

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 17.4px;
  animation-name: moveInRight;
  animation-duration: 1.5s; }

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  /* transform: translate(-50%, -50%); /* this centers in middle of page */ }

/* .button-box {
  position: absolute;
  top: 55%;
  left: 25%;
  text-align: center; 
} */

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 15px 40px;
  border-radius: 100px;
  margin-right: 300px;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px); }

/* .btn-white {
  background-color: white;
  color: black;
  border: 2px solid red; } */

/* .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; } */



.btn:hover::after {
  transform: scaleX(1.4) scaleY(2.6);
  opacity: 0; }

.btn-animated {
  animation: moveInBottom .5s ease-out 2s;
  animation-fill-mode: backwards; }

/*************************************/
/********* Animations ***********/
/*************************************/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
