h3 {
  font-family: 'Lexend Zetta', sans-serif;
}

p, span {
  font-family: 'Quicksand', sans-serif;

}

nav {
  background-color: grey;
}

nav .brand-logo {
  font-family: 'Lobster', cursive !important;

}
