h3 {
  font-family: 'Lexend Zetta', sans-serif;
}

p, span {
  font-family: 'Erica One', cursive;
}

nav {
  background-color: #90caf9;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column img {
  margin-top: 12px;
}

.header {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  filter: grayscale(100%);
  /* keeps top of the image static when image is scaling */
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  min-height: 90vh;
}
